@{
    ViewData["Title"] = "Neuer Task";
}

@model Garaio.Academy.Web.Models.TaskViewModel

<h2>@ViewData["Title"]</h2>

<form asp-controller="Task" asp-action="EditTask" method="POST" class="form-horizontal">
    <fieldset>
        <legend>Task Daten</legend>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-8 input-group">
                <input Id="Name" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Notes" class="col-md-2 control-label"></label>
            <div class="col-md-8 input-group">
                <input Id="Notes" asp-for="Notes" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Done" class="col-md-2 control-label"></label>
            <div class="col-md-8 input-group">
                <select asp-for="Done" class="form-control">
                    <option value="false">Nicht abgeschlossen</option>
                    <option value="true">Abgeschlossen</option>
                </select>
            </div>            
        </div>
        <input type="hidden" name="Id" asp-for="Id" />    
    </fieldset>
    <div>
        <button type="submit" class="btn btn-default">Speichern</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-default">Abbrechen</a>
    </div>
</form>
