@{
    ViewData["Title"] = "Task Übersicht";
}

@model IEnumerable<Garaio.Academy.Web.Models.TaskViewModel>

<h2>@ViewData["Title"]</h2>

@if (!string.IsNullOrEmpty(ViewData["StatusMessage"]?.ToString()))
{
    <div class="alert alert-@(ViewData["AlertType"]) fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewData["StatusMessage"]
    </div>
}

<p>
    <a asp-action="Create">Neuer Task erstellen</a>
</p>

<table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var task in Model)
            {
                <tr>
                    <td>@task.Name</td><td>@task.Notes</td>
                    <td>
                        @(task.Done ? Html.Raw("Abgeschlossen") : Html.Raw("Nicht Abgeschlosen"))
                    </td>
                    <td><a asp-action="Edit" asp-route-taskid="@task.Id">Bearbeiten</a></td>
                </tr>
            }
        </tbody>
</table>